#Header {
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 500px;
    text-align: center;
    padding: 15px
    padding style 

}

#Content {
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 700px;
    text-align: center;
    padding: 15px
    padding style
}

#LeftNav {
    border: solid 8px black;
    margin-bottom: 10px;
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 8px
    padding style
}

#Footer {
    border: solid 8px black;
    text-align: center;
    padding: 20px
    padding style
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#Header h1{ font-size: 60px; font-family: "Passion One"; color: #FFBC00; font-weight: bold; }

p{
    color: white;
    font-family: Arial;
    font-weight: bold;
   }

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

div{
    background-color: #8E41D5;
}

body{
    background-image: url('dark_wood.png');
}

a{
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}

